$white: #fff;

$black900: #141416;
$black800: #404040;
$black500: #595B72;
$black400:#939499;
$black300: #808080;
$black200: #B8B9BD;
$black100: #DDDFE6;
$black50: #E2E2E2;
$black40: #F2F5F9;

$blue900: #0017FC;
$blue800: #384BF8;
$blue700: #82ABFF;
$blue600: #0094FF;
$blue500: #F3F7FF;
$blue200: #E6EBF3;
$blue100: #F5F6FF;
$yellow: #FBC22F;
$green: #35E000;
$orange: #FDA95D;
$red: #FF3A1F;
// $: #;

$brL: 8.8rem;
$brM: 3rem;
$brS: 2rem;
$brXS: 1rem;

$transition: .3s;