$large_desktop: 1920px;
$middle_desktop: 1440px;
$small_desktop: 1280px;

$large_tablet: 1024px;
// $large_tablet: 1024px;
$small_tablet: 768px;

$large_mobile: 580px;
$middle_mobile: 375px;
$small_mobile: 320px;
