include ../../../mixins/mixin-loader.pug

//- Контейнер для карточек (+b.cards) содержит в себе карточки (+e.item).
+b.cards 
    //- Любая карточка имеет изначальный вид 
    +e.item
        include content
    //- Конструкция выше используется в файле item. Этот файл и нужно брать для первоначальной загрузки карточек
    include item

    //- При нажатии на "Дать предложения", через ajax я должжен получить поля формы для этой карточки (файл formField) и через js подгружаю +e.manage
    +e.item
        include content
        +b.FORM.cards-write-offers.j-show-more-ddv
            include formField
            +e.manage
                +e.photos
                    +icon('cameraSharp', 'cards-write-offers__photos-icon')
                +e.SPAN.show-more.j-show-more-dd-btn 
                    +e.show-more-text Еще
                    +icon('dropdown', 'show-more-dropdown__icon')
                +e.SPAN.list
                    +icon('list', 'cards-write-offers__list-icon')
                +e.write.btn.btn._blue Предложить

    //- После нажатия на "Предложить", я отправляю форму и должен получить готовый код карточки предложения (файл offer)
    +e.item
        include content
        +b.FORM.cards-write-offers.j-show-more-ddv
            include ../formField
            +e.manage
                +e.photos
                    +icon('cameraSharp', 'cards-write-offers__photos-icon')
                +e.SPAN.show-more.j-show-more-dd-btn 
                    +e.show-more-text Еще
                    +icon('dropdown', 'show-more-dropdown__icon')
                +e.SPAN.list
                    +icon('list', 'cards-write-offers__list-icon')
                +e.write.btn.btn._blue Предложить
        include offer