+b.share-need
    +e.wrap.wrap
        +e.inner.header-submenu__inner
            +b.LABEL.checkbox.share-need__checkbox
                +e.INPUT.input.j-cb-share-need-all(type="checkbox" name="share-need-all")
                +e.SPAN.control
                    +e.SPAN.icon
                        +icon('check')
            +e.btn-cancel.btn._blue-light._m.j-cancel-need-recipient Отменить
            +e.btn-select.btn._blue._m.j-select-need-recipient Выбрать получателя