extends ../layouts/base

append vars
	- title = 'Мои заявки';

block content
	+submenu({share: true})
		block submenuNav
			+submenuNavLi('Мои заявки', '','on', true)
			+submenuNavLi('Не опубликованные', 1)
			+submenuNavLi('Опубликованные')
			+submenuNavLi('Активные', 1)
			+submenuNavLi('Куплено')
			+submenuNavLi('Исполнено')
			+submenuNavLi('Возврат')
			+submenuNavLi('Возвращено')
	.section
		.wrap
			+b.cards 
				+e.item
					+e.content
						+cards-gallery(1)
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link1/')
						+cards-bottom('Цену только указывайте с доставкой', ['not-urgently', 'Не срочно'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 1, 'Запчасти') 
						+cards-info(['Не опубликовано', '1'], '20 минут назад', ['Активировать', 1], '19', '21', ['edit', 'open', 'msg', 'refresh'])
				+e.item
					+e.content
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
						+cards-bottom('Цену только указывайте с доставкой', ['month', 'Месяц'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
						+cards-info(['Опубликованна'], '20 минут назад', ['в Неопубликованные', 1], '25', '27', ['edit', 'open', 'msg', 'refresh'])
				+e.item.offers-on
					+e.content
						+cards-gallery
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link3/')
						+cards-bottom('Цену только указывайте с доставкой', ['two-week', '2 недели'], 'Уфа', 'Лично для ВП', ['Фаниль'], 0, 'Запчасти') 
						+cards-info(['Активна'], '20 минут назад', ['от 160,40 (72)', '', '', 'j-modal-offers-open'], '1', '27', ['edit', 'open', 'msg', 'refresh'], 1)
					+b.FORM.cards-write-offers.j-show-more-dd
						.form-group
							input.input.require(type="text" placeholder="Поставщик")
						+form-input('Город')
						.form-group
							input.input.require(type="text" placeholder="Наличие")
						+form-input-select('Цена', ['₽', '$'])
						+form-select(['с НДС', 'без НДС'])
						+form-input-select('Название поля', ['шт','л','гр',])
						+form-input-select('Название поля', ['л','шт','гр',])
						+form-select(['Тип', 'Бренд', 'Вариант 1', 'Вариант 2', 'Вариант 3', 'Вариант 4', 'Вариант 5',])
						+form-select(['Назначение', 'Бренд', 'Вариант 1', 'Вариант 2', 'Вариант 3', 'Вариант 4', 'Вариант 5',])
						+form-select(['Тип применения', 'Бренд', 'Вариант 1', 'Вариант 2', 'Вариант 3', 'Вариант 4', 'Вариант 5',])
						+form-select(['Поверхность', 'Бренд', 'Вариант 1', 'Вариант 2', 'Вариант 3', 'Вариант 4', 'Вариант 5',])
						+form-input('Комментарий')
						+form-input('Поставщик', 1)
						+form-input('Город', 1)
						+form-input('Наличие', 1)
						+form-input-select('Цена', ['₽', '$'], 1)
						+form-select(['с НДС', 'без НДС'], 1)
						+form-input-select('Название поля', ['шт','л','гр',], 1)
						+e.manage
							+e.photos
								+icon('cameraSharp', 'cards-write-offers__photos-icon')
							+e.SPAN.show-more.j-show-more-dd-btn 
								+e.show-more-text Еще
								+icon('dropdown', 'show-more-dropdown__icon')
							+e.SPAN.list
								+icon('list', 'cards-write-offers__list-icon')
							+e.write.btn.btn._blue Записать
					+b.cards-offers.cards__content
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', ['2', '2'], ['до 2 375,6', 'НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
						+cards-bottom('Цену только указывайте с доставкой', '', 'Уфа', '', ['Тимур', 1], 0, 'Запчасти', '9 дней') 
						+cards-info(['Предложение'], '20 минут назад', '', '', '', ['edit'])
				+e.item
					+e.content
						+cards-gallery
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
						+cards-bottom('Цену только указывайте с доставкой', ['two-week', '2 недели'], 'Уфа', 'Лично для ВП', ['Фаниль'], 0, 'Запчасти') 
						+cards-info(['Активна'], '20 минут назад', ['от 160,40 (72)', '', 1, 'j-modal-offers-open'], '1', '27', ['edit', 'open', 'msg', 'refresh'])
				+e.item
					+e.content
						+cards-gallery
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
						+cards-bottom('Цену только указывайте с доставкой', '', 'Уфа', 'Лично для ВП', ['Фаниль'], 0, 'Запчасти', '9 дней') 
						+cards-info(['Куплено'], '20 минут назад', ['Отменить'], '', '', ['edit', 'open', 'msg', 'refresh'])
				+e.item._view-1
					+e.content
						+e.content-list
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '5 г', '', '', ['4 490 000', 'icon'])
								+cards-bottom('оплата до 20 ноября', '', 'Уфа', '', ['КамДорСнаб']) 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '30 г')
								+cards-bottom('Цену только указывайте с доставкой') 
						+cards-bottom('', ['week', 'Неделя'], 'Уфа', 'Лично для ВП', ['Виталий', 1], 0, 'Запчасти') 
						+cards-info(['Куплено'], '20 минут назад', ['от 79 000 (103)', 1, '', 1], '', '', ['msg'])
				+e.item._view-1
					+e.content
						+e.content-list
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС', 'red'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов'])
								+cards-bottom('', '', 'Уфа', '', ['Тимур'], 0) 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС', '', ''], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Цену только указывайте с доставкой', '', 'Уфа', '', ['Тимур', 1], '', '', '9 дней') 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС', '', ''], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Цену только указывайте с доставкой', '', 'Уфа', '', ['Тимур', 1], '', '', '9 дней') 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Цену только указывайте с доставкой') 
						+cards-bottom('', ['urgent', 'Срочно'], 'Уфа', 'Лично для ВП', ['Тимур', 1]) 
						+cards-info(['Исполнено'], '5 дней назад', ['от 2 200 (13)', '', '', 1], '', '', ['msg'])
				+e.item._view-1
					+e.content
						+e.content-list
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
								+cards-bottom('', '', 'Уфа', '', ['Тимур'], 0) 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС', '', 'truck'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Цену только указывайте с доставкой', '', 'Уфа', '', ['Цена - Качество'], '', '', '9 дней') 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Цену только указывайте с доставкой') 
						+cards-bottom('', ['urgent', 'Срочно'], 'Уфа', 'Лично для ВП', ['Тимур', 1]) 
						+cards-info(['Возврат'], '20 минут назад', ['Отменить'], '', '', ['msg'])
				+e.item._view-1
					+e.content
						+e.content-list
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
								+cards-bottom('', '', 'Уфа', '', ['Тимур'], 0) 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС', '', ''], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Цену только указывайте с доставкой', '', 'Уфа', '', ['Цена - Качество'], '', '', '9 дней') 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Цену только указывайте с доставкой') 
						+cards-bottom('', ['urgent', 'Срочно'], 'Уфа', 'Лично для ВП', ['Тимур', 1]) 
						+cards-info(['Возвращено'], '20 минут назад', '', '', '', ['msg'])
