extends ../layouts/base

append vars
	- title = 'Мои объявления';

block content
	+submenu({share: true})
		block submenuNav
			+submenuNavLi('Мои объявления', '2','on', true)
			+submenuNavLi('Не опубликовано', 36)
			+submenuNavLi('Опубликовано')
			+submenuNavLi('Активно')
			+submenuNavLi('Заказано')
			+submenuNavLi('Исполнено')
			+submenuNavLi('На возврат')
			+submenuNavLi('Возвращено')
	.section
		.wrap
			+b.cards 
				+e.item
					+e.content
						+cards-gallery(1)
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', ['31 000', 'icon'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link1/')
						+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.', '', 'Челны', 'Лично для ВП', ['Тимур', 1], 1, 'Запчасти') 
						+cards-info(['Не опубликовано', '1'], '20 минут назад', ['Активировать', 1], '19', '21', ['edit',  'msg'])
				+e.item
					+e.content
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
						+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.', ['month', 'Месяц'], 'Челны', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
						+cards-info(['Опубликованна'], '20 минут назад', ['в Неопубликованные', 1], '25', '27', ['edit',  'msg'])
				+e.item
					+e.content
						+cards-gallery
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link3/')
						+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.', ['two-week', '2 недели'], 'Челны', 'Лично для ВП', ['Фаниль'], 0, 'Запчасти') 
						+cards-info(['Активна'], '20 минут назад', ['от 160,40 (72)', '', '', ''], '1', '27', ['edit',  'msg'], 1)
				+e.item
					+e.content
						+cards-gallery
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
						+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.', ['two-week', '2 недели'], 'Челны', 'Лично для ВП', ['Фаниль'], 0, 'Запчасти') 
						+cards-info(['Активна'], '20 минут назад', ['от 160,40 (72)', '', 1, ''], '1', '27', ['edit',  'msg'])
				+e.item
					+e.content
						+cards-gallery
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
						+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.', '', 'Челны', 'Лично для ВП', ['Фаниль'], 0, 'Запчасти', '9 дней') 
						+cards-info(['Заказано'], '20 минут назад', '', '', '', ['edit',  'msg'])
				+e.item._view-1
					+e.content
						+e.content-list
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '5 г', '', '', ['4 490 000', 'icon'])
								+cards-bottom('оплата до 20 ноября', '', 'Челны', '', ['КамДорСнаб']) 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '30 г')
								+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.') 
						+cards-bottom('', ['week', 'Неделя'], 'Челны', 'Лично для ВП', ['Виталий', 1], 0, 'Запчасти') 
						+cards-info(['Исполнено'], '20 минут назад', '', '', '', ['msg'])
				+e.item._view-1
					+e.content
						+e.content-list
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС', 'red'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов'])
								+cards-bottom('', '', 'Челны', '', ['Тимур'], 0) 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС', '', ''], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.', '', 'Челны', '', ['Тимур', 1], '', '', '9 дней') 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС', '', ''], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.', '', 'Челны', '', ['Тимур', 1], '', '', '9 дней') 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.') 
						+cards-bottom('', ['urgent', 'Срочно'], 'Челны', 'Лично для ВП', ['Тимур', 1]) 
						+cards-info(['Возврат'], '5 дней назад', ['Возвращено', '', '', 1], '', '', ['msg'])
				+e.item._view-1
					+e.content
						+e.content-list
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
								+cards-bottom('', '', 'Челны', '', ['Тимур'], 0) 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС', '', 'truck'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.', '', 'Челны', '', ['Цена - Качество'], '', '', '9 дней') 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.') 
						+cards-bottom('', ['urgent', 'Срочно'], 'Челны', 'Лично для ВП', ['Тимур', 1]) 
						+cards-info(['Возвращено'], '20 минут назад', ['Отменить'], '', '', ['msg'])
				+e.item._view-1
					+e.content
						+e.content-list
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
								+cards-bottom('', '', 'Челны', '', ['Тимур'], 0) 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС', '', ''], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.', '', 'Челны', '', ['Цена - Качество'], '', '', '9 дней') 
							+e.content-item
								+cards-top('Карданный вал L=715mm 1796593-01', '20 шт', '', '', ['2 375,6', 'Без НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], 1)
								+cards-bottom('Абсолютно новые, не ремонтные. Снятые с новых камазов, обработаны.') 
						+cards-bottom('', ['urgent', 'Срочно'], 'Челны', 'Лично для ВП', ['Тимур', 1]) 
						+cards-info(['Возвращено'], '12 ноября', '', '', '', ['msg'])
