extends ../layouts/base

append vars
	- title = 'Чужие объявления';

block content
	+b.hints.header-submenu
		+e.wrap.wrap
			+e.inner.header-submenu__inner
				+b.btn._green._cross._m 1. Чтоб получить лучшее предложение, подпишитесь на поставщиков
					+icon('cross')
				+b.btn._green._cross._m 2. Чтоб получить лучшее предложение, разместите заявку
					+icon('cross')
	.section
		.wrap
			+b.cards 
				include temp-modules/card/item