extends ../layouts/base

append vars
	- title = 'Чужие объявления';

block content
	+b.hints.header-submenu
		+e.wrap.wrap
			+e.inner.header-submenu__inner
				+b.btn._green._cross._m 1. Чтоб получить лучшее предложение, подпишитесь на поставщиков
					+icon('cross')
				+b.btn._green._cross._m 2. Чтоб получить лучшее предложение, разместите заявку
					+icon('cross')
	.section
		.wrap
			+b.cards 
				+e.item
					+e.content
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', ['3 500', 'НДС'], ['3 600', 'НДС'], ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link1/')
						+cards-bottom('оплата до 20 ноября', ['not-urgently', 'Не срочно'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 1, 'Запчасти') 
						+cards-info(['', ], '20 минут назад', ['Купить', ], '19', '21', [ 'msg', 'warning'])
				+e.item
					+e.content
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', ['3 500', 'НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
						+cards-bottom('оплата до 20 ноября', ['month', 'Месяц'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
						+cards-info([''], '20 минут назад', ['Купить', ], '25', '27', [ 'msg', 'warning'])
				+e.item.offers-on
					+e.content
						+cards-gallery
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link3/')
						+cards-bottom('оплата до 20 ноября', ['two-week', '2 недели'], 'Уфа', 'Лично для ВП', ['Фаниль'], 0, 'Запчасти') 
						+cards-info([''], '20 минут назад', ['от 1553 553 руб (28)', 1, '', 'j-open-offers'], '1', '27', [ 'msg', 'warning'], 1)
					+b.cards-offers.cards__content
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '', '', '', ['до 2 375,6', 'НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
						+cards-bottom('оплата до 20 ноября', '', 'Уфа', '', ['Тимур', 1], 0, 'Запчасти', '9 дней') 
						+cards-info([''], '20 минут назад', '', '', '', ['edit'])
					+b.cards-offers.cards__content
						+cards-gallery
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '', '', '', ['до 2 375,6', 'НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
						+cards-bottom('оплата до 20 ноября', '', 'Уфа', '', ['Тимур', 1], 0, 'Запчасти', '9 дней') 
						+cards-info([''], '20 минут назад', ['Купить'], '', '', ['edit'])
				+e.item
					+e.content
						+cards-gallery
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
						+cards-bottom('оплата до 20 ноября', ['two-week', '2 недели'], 'Уфа', 'Лично для ВП', ['Фаниль'], 0, 'Запчасти') 
						+cards-info(['Активна'], '20 минут назад', ['Купить'], '1', '27', [ 'msg', 'warning'])
				+e.item
					+e.content
						+cards-gallery
						+cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '', '', '', '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
						+cards-bottom('оплата до 20 ноября', '', 'Уфа', 'Лично для ВП', ['Фаниль'], 0, 'Запчасти', '9 дней') 
						+cards-info([''], '20 минут назад', '', '', '', [ 'msg', 'warning'])
