+b.modal._edit-card.create-supplier-modal
    +e.container
        +e.inner
            +e.content
                +e.head
                    +e.close(data-close="close")
                        +icon('cross')
                    +e.head-text Создание поставщика
                +e.body
                    +b.FORM.form.create-supplier-form
                        +e.logo
                            input.input(type="file" id="logo" disabled)
                            +e.LABEL.logo-wrap(for="logo") 
                                +e.logo-text Лого
                        +e.groups 
                            +e.groups-top
                                +e.legal-form.form-group
                                    .select-box
                                        select
                                            option(disabled selected) Правовая форма
                                            option(value="fl") Физ лицо
                                            option OOO
                                        +icon('dropdown')
                                +e.calculations.form-group
                                    .select-box
                                        select
                                            option Расчеты
                                            option Вариант 1
                                            option Вариант 2
                                        +icon('dropdown')
                            .form-group
                                input.input.require(type="text" placeholder="Наименование")
                            +form-input('Адрес')
                            +form-select(['Продавец', 'Вариант 1', 'Вариант 2'])
                            .form-group
                                input.input.require(type="text" placeholder="Электронная почта")
                            .form-group
                                input.input.require(type="text" placeholder="Телефон")
                            +form-select(['Интересы', 'Вариант 1', 'Вариант 2'])
                        +e.bottom
                            +form-input('Комментарий')
                            +e.btn.btn._blue._m Создать
