+b.modal.link-copied-modal
    +e.container
        +e.inner._s 
            +e.content
                +e.head
                    +e.close(data-close="close")
                        +icon('cross')
                    +e.head-text Ссылка скопирована
                +e.body
                    p Ссылка скопирована в буфер обмена #[br]Отправте ее и, когда пользователь даст преложение, Вы увидите его у себя в предложениях
                    +e.footer._ok
                        +e.btn.btn._blue._m(data-close="close") Понятно
