+b.modal.need-history-modal
    +e.container
        +e.inner._s 
            +e.content
                +e.head
                    +e.close(data-close="close")
                        +icon('cross')
                    +e.head-text История потребности
                +e.body
                    +b.history-list
                        +e.item
                            +e.info
                                +e.info-top  
                                    +e.info-name Денис 
                                    +e.info-time 12:51
                                +e.info-company Цена - Качество
                            +e.descr
                                +e.P.descr-text 28 января: Покупатель разместил не опубликованную заявку Категория - Запчасти, Наименование - Дистанционный элемент, Назначение
                        +e.item
                            +e.info
                                +e.info-top  
                                    +e.info-name Денис 
                                    +e.info-time 12:51
                                +e.info-company Цена - Качество
                            +e.descr
                                +e.P.descr-text 28 января: Покупатель разместил не опубликованную заявку Категория - Запчасти, Наименование - Дистанционный элемент, Назначение
                        +e.item
                            +e.info
                                +e.info-top  
                                    +e.info-name Денис 
                                    +e.info-time 12:51
                                +e.info-company Цена - Качество
                            +e.descr
                                +e.P.descr-text 28 января: Покупатель разместил не опубликованную заявку Категория - Запчасти, Наименование - Дистанционный элемент, Назначение
                        +e.item
                            +e.info
                                +e.info-top  
                                    +e.info-name Денис 
                                    +e.info-time 12:51
                                +e.info-company Цена - Качество
                            +e.descr
                                +e.P.descr-text 28 января: Покупатель разместил не опубликованную заявку Категория - Запчасти, Наименование - Дистанционный элемент, Назначение
                        +e.item
                            +e.info
                                +e.info-top  
                                    +e.info-name Денис 
                                    +e.info-time 12:51
                                +e.info-company Цена - Качество
                            +e.descr
                                +e.P.descr-text 28 января: Покупатель разместил не опубликованную заявку Категория - Запчасти, Наименование - Дистанционный элемент, Назначение
                        +e.item
                            +e.info
                                +e.info-top  
                                    +e.info-name Денис 
                                    +e.info-time 12:51
                                +e.info-company Цена - Качество
                            +e.descr
                                +e.P.descr-text 28 января: Покупатель разместил не опубликованную заявку Категория - Запчасти, Наименование - Дистанционный элемент, Назначение


