+b.modal.need-sent-modal
    +e.container
        +e.inner._s 
            +e.content
                +e.head
                    +e.close(data-close="close")
                        +icon('cross')
                    +e.head-text Потребность отправлена
                +e.body
                    p Пользователь получил ссылку, при открытии которой, он увидит вашу потребность #[br] После того, как он даст предложение, вы увидете его у себя в предложениях 
                    +e.footer._ok
                        +e.btn.btn._blue._m(data-close="close") Понятно
