+b.modal.offers-modal
    +e.container
        +e.inner
            +e.content
                +e.head
                    +e.close(data-close="close")
                        +icon('cross')
                    +e.head-left
                        +e.SPAN.head-text Mercedes Benz E-Classe
                        span , от 2015г., Кабриолет,  от 80 000 до 100 000,  Белый
                    +e.head-right
                        +e.UL.head-list
                            mixin head-list-item(name, num, red)
                                +e.LI.head-list-item
                                    +e.SPAN.head-list-item-name=name
                                    +e.SPAN.head-list-item-separator &nbsp;-&nbsp; 
                                    +e.SPAN.head-list-item-num(class=red?'modal__head-list-item-num_red':'')=num
                            +head-list-item('Опубликовано', '5')
                            +head-list-item('Активно', '8')
                            +head-list-item('Заказано', '5')
                            +head-list-item('Исполнено', '8')
                            +head-list-item('На возврат', '8', 'red')
                            +head-list-item('Возвращено', '8', 'red')
                            +head-list-item('На складе', '8')
                +e.body
                    +b.cards._solid
                        +e.item
                            +e.content
                                +cards-top('Ловушка фаркопа', '20 шт', '1', [2,2], ['3 600', 'НДС'], ['3 500', 'НДС'], ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link1/')
                                +cards-bottom('оплата до 20 ноября', ['urgent', 'Срочно'], 'Уфа', '', ['Тимур', 1], '', 'Запчасти') 
                                +cards-info([''], '20 минут назад', ['Купить'], '', '', ['msg', 'warning'])
                        +e.item
                            +e.content
                                +cards-gallery
                                +cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', ['2 900 000', 'icon', '', 'truck'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
                                +cards-bottom('Цену только указывайте с доставкой', ['month', 'Месяц'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
                                +cards-info([''], '20 минут назад', ['Купить'], '', '', ['msg', 'warning'])
                        +e.item
                            +e.content
                                +cards-gallery(1)
                                +cards-top('Toyota Corolla', '', '', '', '', '', ['2360-2910210', 'Scania'])
                                +cards-info([''], '20 минут назад', ['от 1553 553 руб (28)', '1', '', 'j-open-offers'], '', '', ['msg', 'warning'])
                            +b.cards-offers.cards__content
                                +cards-top('Toyota Corolla', '', '', '', ['2 890 500', 'НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
                                +cards-bottom('Цену только указывайте с доставкой', '', 'Севастополь', '', ['Арт-Мосторс', 1], 0, 'Запчасти', '') 
                                +cards-info(['',1], '', ['',''], '', '', ['msg', 'warning'])
                            +b.cards-offers.cards__content
                                +cards-gallery()
                                +cards-top('Toyota Corolla', '', '', '', ['2 890 500', 'НДС'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'])
                                +cards-bottom('Цену только указывайте с доставкой', '', 'Севастополь', '', ['Арт-Мосторс', 1], 0, 'Запчасти', '') 
                                +cards-info(['',], '', ['',''], '', '')
                            +b.cards-offers._more
                                span.j-show-part-offers показать еще 1 предложение из 6 от 485,53&nbsp;₽
                                |  или 
                                span.j-show-all-offers Показать&nbsp;все&nbsp;предложения
                        +e.item
                            +e.content
                                +cards-gallery
                                +cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', ['2 900 000', 'icon', '', 'truck'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
                                +cards-bottom('Цену только указывайте с доставкой', ['month', 'Месяц'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
                                +cards-info(['Опубликованна'], '20 минут назад', ['Купить'], '', '', ['msg', 'warning'])
                        +e.item
                            +e.content
                                +cards-gallery
                                +cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', ['2 900 000', 'icon', '', 'truck'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
                                +cards-bottom('Цену только указывайте с доставкой', ['month', 'Месяц'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
                                +cards-info(['Опубликованна'], '20 минут назад', ['Купить'], '', '', ['msg', 'warning'])
                        +e.item
                            +e.content
                                +cards-gallery
                                +cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', ['2 900 000', 'icon', '', 'truck'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
                                +cards-bottom('Цену только указывайте с доставкой', ['month', 'Месяц'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
                                +cards-info(['Опубликованна'], '20 минут назад', ['Купить'], '', '', ['msg', 'warning'])
                        +e.item
                            +e.content
                                +cards-gallery
                                +cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', ['2 900 000', 'icon', '', 'truck'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
                                +cards-bottom('Цену только указывайте с доставкой', ['month', 'Месяц'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
                                +cards-info(['Опубликованна'], '20 минут назад', ['Купить'], '', '', ['msg', 'warning'])
                        +e.item
                            +e.content
                                +cards-gallery
                                +cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', ['2 900 000', 'icon', '', 'truck'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
                                +cards-bottom('Цену только указывайте с доставкой', ['month', 'Месяц'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
                                +cards-info(['Опубликованна'], '20 минут назад', ['Купить'], '', '', ['msg', 'warning'])
                        +e.item
                            +e.content
                                +cards-gallery
                                +cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', ['2 900 000', 'icon', '', 'truck'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
                                +cards-bottom('Цену только указывайте с доставкой', ['month', 'Месяц'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
                                +cards-info(['Опубликованна'], '20 минут назад', ['Купить'], '', '', ['msg', 'warning'])
                        //- +e.item
                            +e.content
                                +cards-gallery
                                +cards-top('Прокладка впускного коллектора (1374340) SCANIA D/DS2', '20 шт', '1', '', ['2 900 000', 'icon', '', 'truck'], '', ['2360-2910210', 'Scania', 'Сталь 20', '5 брендов', '4 листа'], '', 'http://link2/')
                                +cards-bottom('Цену только указывайте с доставкой', ['month', 'Месяц'], 'Уфа', 'Лично для ВП', ['Тимур', 1], 0, 'Запчасти') 
                                +cards-info(['Опубликованна'], '20 минут назад', ['Купить'], '', '', ['msg', 'warning'])
